extend ../common/_layout
block variable
  - devMode = true;
  - title = 'INDEX';
block append head
  meta(name="format-detection", content="telephone=no")
  meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0")
block main
  div#main(role="main")
    h2 #main
block aside
  aside#aside
    h3 #aside

