#header{

}

#main {
  float: left;
  height: 100px;
  background-color: #ccc;
  @include border-radius(4px);
}

#aside {
  float: right;
  height: 100px;
  background-color: #888;
}

#footer {
  clear: both;
}
