//- layout.jade
include _config
block variable
  //- variable
doctype html
html(lang= lang)
  head
    block head
      meta(charset="utf-8")
      title #{title}
      - if(devMode)
        link(href="assets/css/style.css", rel="stylesheet")
        script(src="assets/js/main.js")
      - else
        link(href="assets/css/style.min.css", rel="stylesheet")
        script(src="assets/js/main.min.js")
  body
    block header
      include ../elements/header
    div#wapper
      block main
        div#main
      block aside
        //- aside
    block footer
      include ../elements/footer
